html, body, #root {
  height: 100%;
  margin: 0;
}
.app-container {
  width: 1200px;       
  max-width: 100%;    
  margin: 0 auto;      
  min-height: 100vh;  
  box-sizing: border-box;
  padding: 16px;

}