
.full-height-chat-modal .modal-dialog {
  max-width: 90vw;
  height: 90vh;
  margin: 1.5rem auto;
}
.full-height-chat-modal .modal-content {
  height: 100%;
  border-radius: 8px;
}

/* โครงหลัก */
.chat-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.chat-main-content {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}
.chat-close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 100;
}

/*รายการแชต*/
.chat-list-sidebar {
  width: 350px;
  background-color: #f0f5ff;
  border-right: 1px solid #dee2e6;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 15px;
}

.chat-list-container {
  flex-grow: 1;
  overflow-y: auto;
  padding-left: 0;
  padding-right: 0;
}

/* รายการแชทแต่ละรายการ */


.chat-list-item {
  color: black;
  border-top: 1px solid #e9ecef !important;
  border-bottom: 1px solid #e9ecef !important;
  padding: 8px 15px;
  transition: background-color 0.2s, border-left-color 0.2s; /* เวลาเปลี่ยนสีพื้นหลังหรือขอบซ้าย เกิด animation */
  display: flex;
  align-items: flex-start; /* จัดให้เริ่มจากด้านบน */
  text-decoration: none !important;
}

.chat-list-item:hover {
  background-color: #f7f7f7;
}

.chat-list-item.active {
  background-color: #e6efff !important;
  border-left: 4px solid #007bff !important; 
  box-shadow: none !important;
}

.chat-list-avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.chat-list-name {
  color: #007bff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  width: 100%;
  text-decoration: none !important;
}

.chat-list-message {
  display: -webkit-box;
  -webkit-box-orient: vertical; /* ข้อความจะแสดงจากบนลงล่าง */
  overflow: hidden;
  white-space: normal;/* ให้ข้อความขึ้นบรรทัดใหม่ได้ตามปกติ */
  max-width: 100%;
  line-height: 1.3;
  height: 2.6em; 
  word-break: break-all;
}

/*  Dropdown & Search ( */
.chat-dropdown-toggle,
.chat-settings-btn {
  background: white !important;
  border-color: #e9ecef !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05) !important;
}

/* รวม Style ของ Input Group */
.chat-search-input-group .input-group-text,
.chat-search-input-group .form-control {
  border-color: #fff !important;
  background: white;
}

/* ไอคอนแว่นขยาย (ซ้าย) */
.chat-search-input-group .input-group-text {
  border-radius: 50px 0 0 50px !important;
  border-right: 0 !important;
}

/* ช่องพิมพ์ค้นหา (ขวา) */
.chat-search-input-group .form-control {
  border-radius: 0 50px 50px 0 !important;
  border-left: 0 !important;
}

/* หน้าต่างแชตจริง */
.chat-window-container {
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.chat-window-header {
  background-color: #f0f5ff;
  border-bottom: 1px solid #dee2e6;
  padding: 15px;
}

.chat-window-body {
  flex-grow: 1;
  overflow-y: auto;
  padding: 15px;
}

.chat-bubble {
  background-color: #e6efff;
  border-radius: 15px 15px 15px 0;
  width: fit-content;
  max-width: 70%;
  border: 1px solid #ddd;
  padding: 15px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  word-wrap: break-word;
  word-break: break-word;
}

.chat-message-avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
}



/* ปรับ ให้รูปอยู่บน ช่องพิมพ์อยู่ล่าง */
.chat-window-footer {
  background-color: #f0f5ff;
  border-top: 1px solid #dee2e6;
  
  display: flex;
  flex-direction: column; /* ใช้ column เพื่อให้วางซ้อนกันได้ */
  padding: 0; 
}






/* กล่องใส่รูปภาพ Preview */
.image-preview-container {
  background-color: #f8f9fa;
  border-bottom: 1px solid #eaeaea;
  white-space: nowrap; /* ทำให้รูปเรียงแนวนอนไม่ตกบรรทัด */
}



/* ปุ่มลบรูป */
.btn-remove-img {
  /*  กำหนดตำแหน่งให้ลอยอยู่มุมขวาบน */
  position: absolute;
  top: -5px;
  right: -5px;

  background-color: #dc3545; 
  color: white;              
  border: none;             /*ลบขอบเดิม*/
  border-radius: 50%;     
  
  width: 20px;
  height: 20px;
  
  /*  จัดตัว x ให้อยู่ตรงกลางวงกลม */
  display: flex;
  align-items: center;
  justify-content: center;
  
  font-size: 12px;           /* ขนาดตัวอักษร */
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* เงา */
  transition: background-color 0.2s;
}

.btn-remove-img:hover {
  background-color: #bb2d3b !important; 
}