
.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* สูงเต็มจอเสมอ */
}

.main-content {
  flex: 1; /* ดัน Footer ลงไป */
  width: 100%;
  margin: 0 auto;    /* จัดกึ่งกลาง */
  box-sizing: border-box;
  padding: 16px;    
  background-color: #ffffff;
}