.pageAll {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 10vh;
  overflow-y: scroll;
  padding-right: 5px; 
}


.main-content {
  flex-grow: 1;
  display: flex;
  gap: 15px;
  padding: 0 20px 20px 20px;
}

.ads-list-container {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.ads-scroll {
  flex-grow: 1;
  overflow-y: auto;
  margin-top: 10px;
}

.ad-card {
  border-radius: 8px;
  padding: 10px;
  margin: 5px 0;
  color: #000;
  font-size: 1rem;
}

.ad-card.approved {
  background-color: #b8ffba;
}

.ad-card.pending {
  background-color: #ffffb8;
}

.ad-card.canceled {
  background-color: #ffcab8;
}

.calendar-container {
  flex-grow: 1;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.calendar-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-calendar {
  width: 100% !important;
  font-size: 1.2rem;
  flex-grow: 1;
}

.ads-list {
  width: 100%;
  overflow-y: auto;
  margin-top: 10px;
}

.react-datepicker__day {
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
}
.ad-status {
  margin: 2px;
  border-radius: 15px;
  padding: 5px 15px;
  font-weight: 600;
  font-size: 0.9rem;
  display: inline-block;
}

.ad-status.อนุมัติ { color: #17763a; background-color: #b8ffba; }
.ad-status.รออนุมัติ { color: #dd871d; background-color: #ffffb8; }
.ad-status.ยกเลิก { color: #81401d; background-color: #ffcab8; }

/* จุดสีสำหรับวันที่มีคำขออนุมัติ */
.dot-day {
  position: relative;
}

.dot-day::after {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #17763a; /* สีเขียวอนุมัติ */
  border-radius: 50%;
  position: absolute;
  bottom: 4px;
  left: 50%;
  transform: translateX(-50%);
}
